@import "tailwindcss";

@theme {
  --color-primary: #CE1835;
  --color-primary-hover: #b3152e;
  --color-accent: #FDF0F1;
  --color-text-main: #000000;
  --color-text-body: #333333;
  --color-border-color: #DEDEDE;
}

body {
  font-family: 'Inter', 'Roboto', sans-serif;
  color: var(--color-text-body);
  background-color: #f9fafb;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-main);
}